[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
pytest = "*"
examplepackageTeam12p3 = {version = "*", index = "testpypi"}

[dev-packages]

[requires]
python_version = "3"
